<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Byun Sang Il</h5>
                <p class="grey-text text-lighten-4">I am a Java Engineer.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Profile</h5>
                <ul>
                    <li><span class="white-text">출신 : 대구광역시</span></li>
                    <li><span class="white-text">메일 : sangil8585@naver.com</span></li>
                    <li><span class="white-text">깃헙 : github.com/sangil8585</span></li>
                    <li><span class="white-text">기술 : Java, Spring, Oracle DB</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 right" href="https://github.com/sangil8585" target="_blank">More</a>
        </div>
    </div>
</footer>
</html>